<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head_content %}{% endblock %}
    {% load static %}
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">

  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5 jumbotron" id="auth-container">
          <img src="{% static "img/ecommerce.png" %}" class="img-fluid rounded mx-auto d-block pb-4"
          style="max-width:60%;" alt="">

          {% block content %}
          {% endblock %}
        </div>

      </div>

    </div>
    <footer>Compusur</footer>
  </body>
</html>
