<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head_content %}{% endblock %}
    {% load static %}
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    <script type="text/javascript" src="{% static 'js/wow.min.js'%}"></script>
    <script type="text/javascript">
      new WOW().init();
    </script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

  </head>
  <body>
    <header>
        {% include 'nav.html'%}
    </header>

    <div class="container jumbotron">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="text-center footer">
      <div class="inner">
        Copyright <a href="#">Compusur</a>
      </div>
    </footer>
  </body>
</html>
