{% extends "products/base.html" %}
{% block head_content %}
<title>Home</title>
{% endblock %}
{% load static %}
{% block content %}
{% if success %}
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje Eviado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{success}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
    <div class="container " id="containerPrincipal" >

            <h1 class="my-4">Nuestros Productos</h1>
            {% if error %}
              <div class="alert alert-danger" role="alert">
                <h2 >{{error}}</h2>
              </div>

            {% endif %}
            {% for product in products %}
            {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"3" %}
            </div>
            {% endif %}
            {% if forloop.counter0|divisibleby:"3" %}
            <div class="row" style="padding-top: 17px" >
            {% endif %}
            <div class="col-lg-4 col-sm-6 portfolio-item" style="padding-top: 17px">
              <div class="card h-100">
                <a href="{{product.get_absolute_url}}"><img class="card-img-top" src="{{product.images.first.image.url}}" alt="{{product.images.first.image.url}}"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{product.get_absolute_url}}">{{product.title}}</a>
                  </h4>
                  <p class="card-text">{{product.description}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
{% endblock %}
