{% load static %}
.options-home{
  flex: 1 1 auto;
}
.text-head{
  display: flex;
  flex-direction: column;
}
.message{
  color: red;
}
.title-message{
  align-content: center;
}
.far, .fa, .fas {
  font-size: 135%;
  margin-left: 5px;

}
.bienvenida{
  background: url("../img/Background.jpg") no-repeat center top;
  color: white;
  background-size: cover;
  height: 91vh;

}
.btn-block + .btn-block {
    margin-top: .5rem !important;
  }

.footer{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.down{
  display: inline-block;
  font-size: 4rem;
  color: white;
  animation: arrow-animate 2s ease-in-out infinite;

}

@keyframes arrow-animate{
  from{
    transform: translateY(0);
    }
  50%{
    transform: translateY(6px);
    }
  to{
    transform: translateY(0);
    }
}

.info-content{
  background: #069962;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
